@model IEnumerable<Shop.Models.Products>

@{
    ViewData["Title"] = "Index";
}

<h1>productList</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="ProductPrice">Product Price Add</a>
    <a asp-action="Edit_Product">Edit Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                   @item.PCode
                </td>
                <td>
                    @item.PCost
                </td>
                <td>
                    @item.CCode
                </td>
                <td>
                    <a asp-action="Edit_Product" asp-route-code="@item.PCode">Edit</a>
                </td>
            
            </tr>
        }
    </tbody>
</table>
